@import "~antd/dist/antd.css";

.ant-carousel .slick-slide {
  padding-bottom: 20px;
  padding-top: 5px;
  background: #666;
  overflow: hidden;
}
.ant-carousel {
  margin-bottom: 20px;
}

.userCard {
  text-align: justify;
  margin: 20px 0;
  box-shadow: 0 0 8px 4px rgba(49, 196, 167, 0.04);
  margin-left: 20px;
}
.AccDetItem:hover {
  color: #23b195;
}

.ant-menu-item-selected.AccDetItem {
  background: #fff !important;
  color: #23b195;
  border-left: 2px solid #23b195;
  width: 100% !important;
}
.ant-button.checked {
  background: #23b195 !important;
  color: #ffffff;
}

.btn {
  color: #23b195;
  border: #23b195 0.5px solid;
  width: 33%;
}

.btnActive,
.btn:hover {
  background-color: #23b195 !important;
  color: white !important;
  border: #23b195 0.5px solid !important;
  width: 33%;
}
.filterButtons {
  margin: 0 5px !important;
}

.ActiveCond,
.NotActive:hover {
  cursor: pointer;
  background-color: rgba(35, 177, 149, 0.2) !important;
}

.NotActive {
  border: 0.5px solid rgba(35, 177, 149, 0.2);
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

/* SIGN-IN PAGES */

.signInForm {
  color: #4a4a4a;
  font-size: 11px;
  letter-spacing: 0.8px;
  padding-bottom: 10px;
}

.paddingMarginBottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.themeColor,
.themeColor:hover {
  background: #23b195 !important;
  color: white !important;
  border-radius: 4px;
  border: 0.5px solid #23b195 !important;
}

.belowFormtext {
  color: #4a4a4a;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.8px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.colorCursor {
  color: #23b195;
  cursor: pointer;
}

.viaEmail {
  color: #999 !important;
  font-size: 10px !important;
  padding: 15px 50px 5px 50px !important;
}

.googlebtn {
  background: #c55643 !important;
  color: white !important;
}

.fbookbtn {
  background: #3c60a2 !important;
  color: white !important;
}

.signinstate {
  padding-bottom: 4px;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-shadow: 1px 0 0;
}

.modalcard {
  padding: 0 10px 0 25px;
}

.signInimg {
  width: 100%;
  height: 471px;
}

.signupImg {
  width: 100%;
  height: 513px;
}

.forgotpass {
  color: #23b195 !important;
  font-size: 11px;
  letter-spacing: 0.8px;
  float: right;
  margin-bottom: 10px;
}
/* Checkout pages */

.billingAddress {
  font-size: 15px;
  text-shadow: 0.6px 0 0;
  letter-spacing: 0.2px;
}

.HomeAddress {
  font-size: 12px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: rgba(35, 177, 149, 0.2);
  width: 100%;
}

.HomeAddressBlock {
  font-size: 14px;
  text-shadow: 0.7px 0 0;
  letter-spacing: 0.3px;
}

.AddNewAddress {
  font-size: 70px;
  line-height: 75px;
  text-shadow: 1px 0 0;
  color: #ddd;
}

.AddNewAddressBlock {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 35px 20px;
  cursor: pointer;
}

.addressIcons,
.addressIcons:hover {
  border: 0;
  color: #5d5f5f !important;
  overflow: hidden;
  padding: 0;
  padding-left: 15px;
  float: right;
}

.homeicon {
  float: right;
  color: #5d5f5f;
}

.addressLines h4 {
  line-height: 12px;
  color: #5d5f5f !important;
}

.homeCol {
  padding-bottom: 30px;
}

.listcloseicons {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.checkoutDiv {
  padding: 20px 8%;
}

.checkSlider {
  background: #fff;
  padding: 40px 0;
}

.checkSlider h4 {
  padding: 0 20px;
}

.ColMenu {
  border: 0.5px solid #ddd;
}

.ColMenu div {
  min-width: 100%;
  overflow: hidden;
}

.productname {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 2%;
  overflow: hidden;
}

.cartitem {
  border-radius: 9px;
  box-shadow: 0 0 10px 4px rgba(49, 196, 167, 0.09);
}

.cartitem img {
  width: 100%;
  height: 160px;
}

.AddMoreproducts,
.AddMoreproducts:hover {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #23b195;
}

.colorFloat {
  float: right;
  color: #23b195;
}

.noOfDays {
  font-size: 11px;
  color: #4a4a4a;
  letter-spacing: 1px;
  float: right;
}

.addCard {
  border: solid 0.5px #23b195 !important;
  padding: 5px 10%;
  float: right;
}

.addCard h4 {
  text-shadow: 0.5px 0 0;
  color: #23b195 !important;
}

.ColPad {
  padding: 12px 15px;
}

.cardFormitem {
  border: solid 0.5px #23b195 !important;
  padding: 20px !important;
}

.cardFormChead {
  padding-bottom: 20px;
}

.checkoutSteps {
  text-align: center;
  text-shadow: 1px 0 0;
  font-size: 30px;
  margin-bottom: 19px;
}

.lightText {
  font-size: 11px;
  color: #4a4a4a;
  letter-spacing: 1px;
}

.rentAmount {
  font-size: 15px;
  text-shadow: 0.5px 0 0;
  line-height: 15px;
}

.itemName {
  font-size: 13px;
  line-height: 14px;
  color: #4a4a4a;
  letter-spacing: 0.1px;
  text-align: justify;
}

.orderImage {
  width: 100%;
  padding-right: 15px;
  height: 60px;
}

.cartSum {
  text-shadow: 0.5px 0 0;
  font-size: 19px;
}
/* List your gear form */

.listSubmitButton {
  background: #23b195;
  color: white;
  padding: 0 10%;
  float: right;
}

.listSteps {
  text-align: center;
  font-weight: 600;
  color: #777;
}

.DraftButton {
  border: 0.5px #23b195 solid !important;
  font-size: 10px;
  float: right;
  width: 28%;
  color: #23b195 !important;
}

.uploadButton {
  font-size: 10px;
  margin-left: 20px;
  float: right;
  width: 28%;
}

.selectfit {
  color: #5d5f5f;
  font-size: 10px;
  line-height: 10px;
}

.perDayWeek {
  color: #5d5f5f;
  font-size: 12px;
  line-height: 12px;
}

.Listyourgearcards {
  padding: 20px;
}

.LYGcol1 {
  padding: 24px auto;
  background: #fff;
}

.addLocThatYouServe {
  line-height: 13px;
}

.startLoc {
  line-height: 13px;
  font-size: 13px;
}

.font10 {
  font-size: 10px;
}

.font11h {
  font-size: 11.5px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.margin20 {
  margin: 20px 0;
}

.marginB30 {
  margin-bottom: 30px;
}
.borderzero {
  border: 0 !important;
}

.rightfloat {
  float: right;
}

.prodDiv {
  padding: 50px;
  height: 200px;
  text-align: center;
}

.prodDiv div {
  font-size: 50px;
}

.prodCond {
  font-size: 12px;
  padding: 10%;
}

.prodCond ul {
  padding-left: 22px;
}
