@import "~antd/dist/antd.css";

.container {
  padding: 15px;
  padding-left: 0;
}

.ant-carousel .slick-slide {
  padding-bottom: 20px;
  padding-top: 5px;
  background: #666;
  overflow: hidden;
}
.ant-carousel {
  margin-bottom: 20px;
}

.userCard {
  text-align: justify;
  margin: 20px 0;
  box-shadow: 0 0 8px 4px rgba(49, 196, 167, 0.04);
  margin-left: 20px;
}
